<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Algoxpert Chatbot</title>
    <style media="screen">
    body{
        background-color:honeydew;
      }
      nav{

        border: 1px solid gold;
      }
      #left{
      display:inline;
      left:0px;
      }
      #mail,#compose{
        display: none;
      }
      .container{
        background-color:aliceblue;
        width:50%;
        border-radius:5px;
        align-items:center;
      }
      .row{
        font-size: 1.5em;
      }
    </style>
    <script type="text/javascript">
      function showMail() {
        document.getElementById("mail").style.display="block"
        document.getElementById("form").style.display="none"
        document.getElementById("compose").style.display="inline"
        document.getElementById("show").style.display="none"
      }
      function composeMail() {
        document.getElementById("mail").style.display="none"
        document.getElementById("form").style.display="inline"
        document.getElementById("compose").style.display="none"
        document.getElementById("show").style.display="inline"
      }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
     <h1 class="h1 navbar-brand">Agroxpert - Expert chat</h1>
      <div id="left">
        <a href="/farmer" class="nav-item btn btn-outline-success" >Chat</a>
        <button class="btn btn-outline-warning px-1" id="show" onclick="showMail()">Show mails</button>
        <button class="btn btn-outline-success px-1" id="compose" onclick="composeMail()">Compose mails</button>
        <a href="/" class="btn btn-outline-danger" >Logout</a>
      </div>
    </nav>
    <div class="card  border-success my-3" style="max-width: 50%; left:25%">
    <div class="card-header border-dark">Asking the Query with expert</div>
      <form class="form-group" id="form">
        {%csrf_token%}
        <div class="card-body">
          <input type="text" placeholder="Subject" value="{{sub}}" class="form-control" name="sub">
          <textarea class="form-control" placeholder="Question in detail" rows="5" id="qns" name="Search" required></textarea>
        </div>
        <div class="card-footer border-dark">
          <button type="submit" id="submit" class="btn btn-success mx-1">Submit</button>  
        </div>
      </form>
    </div>
    <div class="container" id="mail">
      {% for chat in response %}
        <div class="row bg-warning">
          <div class="col col-6 border-top ">
            {{chat.0}}
          </div>
          <div class="col col-6 border-top ">
            {{chat.1}}
          </div>
          <div class="col col-12  border-bottom">
            {{chat.2}}
          </div>
        </div>
      {% endfor %}
    </div>
    {% block javascript %}
     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript">
    function ajaxCall(){
      $.post({
        data : $('#form').serialize(),
        url : "/farmer/Expertchat",
        success: function(response){
          document.getElementById("qns").value = "";
          alert("Message successfully sent")
        }
      })
   }
        $(document).ready(function(){
        $('#form').on('keydown',function(e){
               if (e.keyCode == '13') {


               }
        })
          $('#submit').on('click',function(event){
            event.preventDefault();
            if($('#qns').val() !==""){
              console.log($('#qns').val())
              ajaxCall()

            }
            else{
              alert(" Please ask question before sending...")
            }
          })
        })

      </script>
    {% endblock javascript %}

  </body>
</html>
